.header-wrapper .header-container .header-panel .school-name{
   @media all and ( min-height: 700px ){
    font-size: 25px;
  }
}
.header-wrapper .header-container .header-panel .edition-info{
   @media all and ( min-height: 700px ){
    font-size: 40px;
  }
}
.header-wrapper .header-container .header-panel .edition-name {
   @media all and ( min-height: 700px ){
    font-size: 160px;
  }  
}