body, html{
	position: relative;
	margin: 0px auto;
	width: 100%;
	height: 100%;
	background:{
		color: $color-white;
	}
	color: $color-brownish-grey;
	font-size: $font-size;
	line-height: $leading;
	font-family: $work-sans-stack;
	font-weight: $regular;
}
section{
	margin-bottom: 40px;
	&:last-of-type{
		margin-bottom: 0px;
	}
}

#dean-letter-section{
	& .main-wrapper{
		padding:{
			top: 100px;
		}
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.section-header{
			position: relative;
			margin:{
				left: $full-column + $split-gutter-width;
			}
			& p:first-child{
				color: $color-turquoise-green;
				font-family: $work-sans-stack;
				font-weight: 400;
		        font-size: $font-size * 2;
		        line-height: 1;
		        letter-spacing: 0.2px;
		        text-decoration: none; 
			}
			& p:not(:first-child):last-child{
				font-family: $contax-sans-regular-stack ;
		        font-size: $font-size * 5.5;
		        color: $color-dark;
		        line-height: 1;
		        letter-spacing: 0.9px;
		        text-decoration: none; 
			}
		}
		.section-content{
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			width: 6 * $full-column;
			margin:{
				right: $full-column;
			}
			
			& .content-row{
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				margin-bottom: 50px;
				& .content-column{
					position: relative;
					width: 50%; 
					margin-right: $split-gutter-width;
					& img.dean-letter-image{
						position: absolute;
						top: 12px;
						right: 60px;
						width: 700px;
					}
				}
			}
			& .content-row.short-gap {
				margin-bottom: 20px;
			}

		}
	}		
}
.readmore{
	font-family: $work-sans-stack ;
	font-weight: $semi-bold;
    font-size: $font-size * 0.9;
    color: $color-aqua-marine;
    line-height: 1.9;
    letter-spacing: 0.2px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    height: 100%;
    & a:visited {color: $color-aqua-marine;}
    & a{
    	position: relative;
    	float:left;
    	text-decoration: none;
    }
    & a.arrow-down{
		position: relative;
		width:15px;
		height: 100%;
		line-height: 1.15;
		margin:{
			left: 10px;
		}
		text-decoration: none;
		cursor: pointer;
		background:{
		image: $readmore-arrow-image-src;
		repeat: no-repeat;
		position: left center;
		size:contain;
		}
		&:hover{
		transform: scale(1.2,1.2);
		}
    }
}


#director-letter-section{
	& .main-wrapper{
		padding:{
			top: 100px;
		}
		.section-header{
			position: relative;
			margin:{
				left: $full-column + $split-gutter-width;
				bottom: 76px;
			}
			& p:first-child{
				color: $color-turquoise-green;
				font-family: $work-sans-stack;
				font-weight: 400;
		        font-size: $font-size * 2;
		        line-height: 1;
		        letter-spacing: 0.2px;
		        text-decoration: none; 
			}
			& p:not(:first-child):last-child{
				font-family: $contax-sans-regular-stack ;
		        font-size: $font-size * 5.5;
		        color: $color-dark;
		        line-height: 1;
		        letter-spacing: 0.9px;
		        text-decoration: none; 
			}
		}
		.section-content{
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			margin:{
				right: $full-column;
				left: 2*$full-column;
			}
			height: 100%;
			& .content-row{
				position: relative;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				margin-bottom: 50px;
				height: 100%;
				& .content-column{
					position: relative;
					width: 33.33%;
					margin-right: $split-gutter-width;
					
				}
				& .content-column.one-column{
					
				}
				& img.dean-letter-image{
					position: absolute;
					bottom: -30px;
					left: 33.33%;
					width: 700px;
				}
			}

			& .content-row.short-gap {
				margin-bottom: 20px;
			}

		}
	}		
}


#awards-section{
	position: relative;
	height: 480px;
	background:{
		color: $color-pale-grey;
	}
	& .main-wrapper{
		height: 100%;
		&> p{
			position: relative;
			font-family: $contax-sans-regular-stack ;
	        font-size: $font-size * 5.5;
	        color: $color-dark;
	        line-height: 1;
	        text-transform: uppercase;
	        letter-spacing: -0.9px;
	        text-decoration: none;
			margin:{
				right: $split-gutter-width + $full-column;
				left: $split-gutter-width + $full-column;
			}
			top: 100px;
			// ask roy about this!
		}
		

		
		& .awards-panel{
			z-index: 520;
			position: absolute;
			right: $full-column + $split-gutter-width;
			bottom:0px;
			width: 650px;
			height: 245px;
			background:{
				color: $color-turquoise-green;
			}
			& .award-winners{
				padding:{
					top:50px;
					right:50px;
					left:40px;
				}
				p{

					font-family: $work-sans-stack;
					font-weight: $thin;
			        font-size: $font-size * 1.25;
			        color: $color-dark;
			        line-height: 1.7;
			        letter-spacing: -0.2px;
			        text-decoration: none;
					span{
						font-family: $work-sans-stack;
						font-weight: $regular;
				        font-size: $font-size * 1.25;
				        color: $color-dark;
				        line-height: 1.7;
				        letter-spacing: -0.2px;
				        text-decoration: none;
					}
				}
				& .readmore{
				    color: $color-white;
				    letter-spacing: 0.3px;
				    height: 100%;
				    & a:visited {color: $color-white;}
				    & a.arrow-right{
						position: relative;
						width:20px;
						height: 20px;
						line-height: 1.15;
						margin:{
							left: 10px;
							top:3px;
						}
						text-decoration: none;
						cursor: pointer;
						background:{
						image: $readmore-arrow-right-image-src;
						repeat: no-repeat;
						position: left center;
						size:contain;
						}
						&:hover{
						transform: scale(1.2,1.2);
						}
				    }
				}
			}
		}
	}
}



.clear{
	clear: both;
}




























