body, html{
	position: relative;
	margin: 0px auto;
	width: 100%;
	height: 100%;
	background:{
		color: $color-white;
	}
	color: $color-brownish-grey;
	font-size: $font-size;
	line-height: $leading;
	font-family: $work-sans-stack;
	font-weight: $regular;
	&.open{
		overflow: hidden;
	}
}
section{
	position: relative;
	z-index: 300;
	&#page-header{
		z-index: 505;	
	}
	&#project-information{
		z-index: 500;	
	}
	margin-bottom: 40px;
	&:last-of-type{
		margin-bottom: 0px;
	}
}

#dean-letter-section{
	& .main-wrapper{
		padding:{
			top: 100px;
		}
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.section-header{
			position: relative;
			margin:{
				left: $full-column + $split-gutter-width;
			}
			& p:first-child{
				color: $color-turquoise-green;
				font-family: $work-sans-stack;
				font-weight: 400;
		        font-size: $font-size * 2;
		        line-height: 1;
		        letter-spacing: 0.2px;
		        text-decoration: none; 
			}
			& p:not(:first-child):last-child{
				font-family: $contax-sans-regular-stack ;
		        font-size: $font-size * 5.5;
		        color: $color-dark;
		        line-height: 1;
		        letter-spacing: 0.9px;
		        text-decoration: none; 
			}
		}
		.section-content{
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			width: 6 * $full-column;
			margin:{
				right: $full-column;
			}
			
			& .content-row{
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				margin-bottom: 50px;
				& .content-column{
					position: relative;
					width: 50%; 
					margin-right: $split-gutter-width;
					& img.dean-letter-image{
						position: absolute;
						top: 12px;
						right: 60px;
						width: 700px;
					}
				}
			}
			& .content-row.short-gap {
				margin-bottom: 20px;
			}

		}
	}		
}
.readmore{
	font-family: $work-sans-stack ;
	font-weight: $semi-bold;
    font-size: $font-size * 0.9;
    color: $color-aqua-marine;
    line-height: 1.9;
    letter-spacing: 0.2px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    height: 100%;
    & a:visited {color: $color-aqua-marine;}
    & a{
    	position: relative;
    	float:left;
    	text-decoration: none;
    }
    & a.arrow-down{
		position: relative;
		width:15px;
		height: 100%;
		line-height: 1.15;
		margin:{
			left: 10px;
		}
		text-decoration: none;
		cursor: pointer;
		background:{
		image: $readmore-arrow-image-src;
		repeat: no-repeat;
		position: left center;
		size:contain;
		}
		&:hover{
		transform: scale(1.2,1.2);
		}
    }
}


#director-letter-section{
	& .main-wrapper{
		padding:{
			top: 100px;
		}
		.section-header{
			position: relative;
			margin:{
				left: $full-column + $split-gutter-width;
				bottom: 76px;
			}
			& p:first-child{
				color: $color-turquoise-green;
				font-family: $work-sans-stack;
				font-weight: 400;
		        font-size: $font-size * 2;
		        line-height: 1;
		        letter-spacing: 0.2px;
		        text-decoration: none; 
			}
			& p:not(:first-child):last-child{
				font-family: $contax-sans-regular-stack ;
		        font-size: $font-size * 5.5;
		        color: $color-dark;
		        line-height: 1;
		        letter-spacing: 0.9px;
		        text-decoration: none; 
			}
		}
		.section-content{
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			margin:{
				right: $full-column;
				left: 2*$full-column;
			}
			height: 100%;
			& .content-row{
				position: relative;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				margin-bottom: 50px;
				height: 100%;
				& .content-column{
					position: relative;
					width: 33.33%;
					margin-right: $split-gutter-width;
					
				}
				& .content-column.one-column{
					
				}
				& img.dean-letter-image{
					position: absolute;
					bottom: -30px;
					left: 33.33%;
					width: 700px;
				}
			}

			& .content-row.short-gap {
				margin-bottom: 20px;
			}

		}
	}		
}


#awards-section{
	position: relative;
	height: 480px;
	background:{
		color: $color-pale-grey;
	}
	& .main-wrapper{
		height: 100%;
		&> p{
			position: relative;
			font-family: $contax-sans-regular-stack ;
	        font-size: $font-size * 5.5;
	        color: $color-dark;
	        line-height: 1;
	        text-transform: uppercase;
	        letter-spacing: -0.9px;
	        text-decoration: none;
			margin:{
				right: $split-gutter-width + $full-column;
				left: $split-gutter-width + $full-column;
			}
			top: 100px;
			// ask roy about this!
		}
		

		
		& .awards-panel{
			z-index: 520;
			position: absolute;
			right: $full-column + $split-gutter-width;
			bottom:0px;
			width: 650px;
			height: 245px;
			background:{
				color: $color-turquoise-green;
			}
			& .award-winners{
				padding:{
					top:50px;
					right:50px;
					left:40px;
				}
				p{

					font-family: $work-sans-stack;
					font-weight: $thin;
			      font-size: $font-size * 1.25;
			      color: $color-dark;
			      line-height: 1.7;
			      letter-spacing: -0.2px;
			      text-decoration: none;
					span{
						font-family: $work-sans-stack;
						font-weight: $regular;
				        font-size: $font-size * 1.25;
				        color: $color-dark;
				        line-height: 1.7;
				        letter-spacing: -0.2px;
				        text-decoration: none;
					}
				}
				& .readmore{
				    color: $color-white;
				    letter-spacing: 0.3px;
				    height: 100%;
				    & a:visited {color: $color-white;}
				    & a.arrow-right{
						position: relative;
						width:20px;
						height: 20px;
						line-height: 1.15;
						margin:{
							left: 10px;
							top:3px;
						}
						text-decoration: none;
						cursor: pointer;
						transition: all 200ms;
						background:{
							image: $readmore-arrow-right-image-src;
							repeat: no-repeat;
							position: left center;
							size:contain;
						}
						&:hover{
						transform: scale(1.2,1.2);
						}
				    }
				}
			}
		}
	}
}

#page-header{
	text-align: center;
	& h1{
		margin-top: -45px;
	}
	& p:first-of-type{
		position: relative;
		font-family: $work-sans-stack;
		font-weight: $light;
		font-size: $font-size * 1.75;
		color: $color-slate-grey;
		line-height: 1;
		padding: 20px 0px;
		border: 4px solid $color-turquoise-green;
		width: 380px;
		margin:0 auto;
		text-align: center;
		background-color: $color-white;
		margin-top: -180px;
		letter-spacing: 1.1px;
	}
	& p:nth-of-type(2){
		position: relative;
		font-family: $work-sans-stack;
		font-weight: $light;
		font-size: $font-size * 1.5;
		margin:0 auto;
		text-align: center;
		margin-top:100px;
	}
}

.division{

	margin:{
		top: $full-column;
		right: $full-column;
		left: $full-column;
	}
	border-top:  1px solid rgba(211,210,213,1.0);
	& .division-title{
		position: relative;
		font-family: $contax-sans-regular-stack;
		font-size: $font-size * 1.5;
		color: $color-turquoise-green;
		line-height: 1.2;
		text-decoration: none;
		margin-top: 15px;
	}
	& .division-content{
		position: relative;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		& .project{
			width: 330px;
			margin:{
				top: 90px;
			}
			text-align: center;
			&:empty {
				height: 0;
				border: none;
				margin:{
					top: 90px;
				}
				text-align: center;
			}
			& .project-image{
				position: relative;
				& img{
					object-fit: cover;
					object-position: 50% 50%;
					width: $project-image-width;
					height: $project-image-height;
					border-radius: 50%;
				   color: transparent;
				   opacity: 1;
				   transition: all 150ms;
				   &:hover {
		      	}
				}
			}
			& .project-artist{
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				& a{
					font-family: $contax-sans-regular-stack;
					font-size: $font-size * 2.25;
					color: $color-dark;
					line-height: 1;
					text-decoration: none;
					margin-top: 27px;
				}
				& a.arrow-in{
					position: relative;
					padding: 1px 1px 1px 1px;
					width:10px;
					margin-left: 10px;
					text-decoration: none;
					cursor: pointer;
					background:{
						image: $sub-menu-arrow-image-src;
						repeat: no-repeat;
						position: center center;
						size:contain;
					}
					transition: all 200ms;
					&:hover{
						transform: scale(1.2,1.2);
					}
		      }
			}
			& .project-name{
				font-family: $contax-sans-regular-stack;
				font-size: $font-size * 1.5;
				color: $color-purpley-grey;
				line-height: 1;
				text-decoration: none;
				margin-top: 4px;
			}
		}
	}
}

#sticky-navigation{
	width: 100%;
	height: 40px;
	z-index: 320;
	& .navigation{
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		height: 40px;
		border:{
			top: 2px solid $color-white;
		}
		background:{
			color: transparent;
		}
		transition: all 500ms;
		&.sticked{
			position: fixed;
			top:78px;
			left: 0px;
			border:{
				top: 2px solid rgba(255,255,255,1);
			}
			background:{
				color: rgba(213,232,221,0.86);
			}
		}
		&>ul{
			width: 5* $full-column;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			&>li{
				& a{
					font-family: $work-sans-stack;
					font-weight: $medium;
					font-size: $font-size * 1.25;
					color: $color-aqua-marine;
					line-height: 1.8;
					text-decoration: none;
				}
				cursor: pointer;
				&:hover{
					transform: scale(1.2,1.2);
					backface-visibility: hidden;
				}
			}
		}
	}
}
#projects-directory{
	margin-bottom:150px;
}
#faculty-directory{
	margin-bottom:150px;
	& .division{
		margin:{
			top: $full-column;
			right: 2*$full-column;
			left: 2*$full-column;
		}
		& .faculty{
			width: 400px;
			margin:{
				top: 50px;
			}
			& .faculty-title{
				font-family: $contax-sans-regular-stack;
				font-size: $font-size * 1.25;
				color: $color-slate-grey;
				line-height: 1.15;
				text-decoration: none;
				text-transform: uppercase;
			}
			& .faculty-degree, & .faculty-work {
				font-family: $contax-sans-regular-stack;
				font-size: $font-size * 1.25;
				color: $color-purpley-grey;
				line-height: 1.5;
				text-decoration: none;
			}
			& .faculty-email a, & .faculty-website a{
				font-family: $work-sans-stack;
				font-size: $font-size * 1;
				color: $color-aqua-marine;
				line-height: 1;
				text-decoration: none;
			}
		}
		
	}
}
#project-information .main-wrapper{
	& p{
		position: relative;
		margin-left: 3*$full-column;	
		width: 335px;
	}
	& p span{
		color: $color-turquoise-green;
		font-size: $font-size * 1.12;
		line-height: 1;
		font-family: $contax-sans-regular-stack;
		margin-right: 5px;
	}
	& p:first-of-type{
		display: inline-block;
		top: -25px;		
		padding: 0px 25px 0px 25px;
		background:{
			color: $color-turquoise-green;
		}
		color: $color-white;
		font-size: $font-size * 1.5;
		line-height: 50px;
		font-family: $contax-sans-regular-stack;
		text-align: center;
		margin-left: $full-column;	
		width:auto;
	}
	& p:nth-of-type(2){
		color: $color-dark;
		font-size: $font-size * 4.1;
		line-height: 1;
		font-family: $contax-sans-regular-stack;
		margin-left: $full-column;	
		width: 550px;
	}
	

}


#project-content .main-wrapper{
	& .grid-container{
		position: relative;
		margin-top: -90px;
		& .paragraph:nth-of-type(1){
			width:7*$full-column;
			float: left;
			margin-top: 90px + 15px;
			& p{
				padding: 0px 3*$full-column 0px 1*$full-column;
			}
		}
		
		& .slider:nth-of-type(2){
			width:4*$full-column;
			float: right;
			height: 642px;
			margin-right: $full-column;

			
		}
		& .slider:nth-of-type(3){
			width:6*$full-column;
			height: 396px;
			float: left;
			margin-top: 60px;
			margin-right: $full-column;
		}
		& .paragraph:nth-of-type(4){
			width:5*$full-column;
			float: right;
			margin-top: 60px;
			& p{
				padding: 0px 2*$full-column 0px 0px;
			}
		}
		& .slider:nth-of-type(5){
			float: left;
			width:4*$full-column;
			height: 697px;
			margin-top: 60px;	
			margin-right: $full-column;
			
		
		}
		& .slider:nth-of-type(6){
			width:7*$full-column;
			float: right;
			height: 464px;
			margin-top: 60px;
			
		}
		& .paragraph:nth-of-type(8){
			width:5*$full-column;
			float: left;
			margin-top: 50px ;
			& p{
				padding: 0px 1*$full-column 0px 1*$full-column;
			}
		}
		
		& .slider:nth-of-type(9){
			width:7*$full-column;
			height: 438px;
			margin-top:	 30px; 
			float: right;
			
		}
		& .slider:nth-of-type(10){
			width:100%;
			margin-top: 60px;
			height: 1104px;
			float: left;
			
		}
	}

}
#featured-faculty{
	margin-top:80px;
	& .main-wrapper{
		& > p.header-credit{
	    	margin: -80px auto 80px auto;
			color: $color-slate-grey;
			font-size: 2*$font-size;
			line-height: $leading;
			font-family: $work-sans-stack;
			font-weight: $light;
			text-align: center;
		}
		& .grid-container{
			width: 100%;
			position: relative;
			margin: 0 auto;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;
			& .row-1{
				display: flex;
				flex-flow: row nowrap;
				padding-right: 0;
				padding-left:10%;
				align-self: stretch;
				justify-content: space-between;
				align-items: flex-start;
				& .slider{
					max-width: 805px;
				}
				& .text-block{
					& p{
						& span{
							font-size: 1.1*$font-size;
							line-height: 1.5;
							font-family: $contax-sans-regular-stack;
							letter-spacing: 0.2px;

		  					color: $color-turquoise-green;	
						}
						max-width: 312px;
					}
				}
			}
			& .row-2{
				display: flex;
				flex-flow: row nowrap;
				padding-right: 10%;
				padding-left:0;
				align-self: stretch;
				justify-content: space-between;
				align-items: flex-start;
				margin-top: 60px;
				& div{
					display: flex;
					flex-flow: column nowrap;
					max-width:809px;
					& .slider:first-of-type{
						max-width: 805px;
						align-self:center;
					}
					& .slider:nth-of-type(2){
						margin-top: 60px;
						align-self: flex-end;
						max-width: 657px;
					}
				}
				& .text-block{
					& p{
						max-width: 312px;
					}
				}
			}
			& .row-3{
				margin-top: 60px;
			}
			& .row-4{
				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: space-between;
				
				margin-top: 60px;
				& .text-block{
					& p{
						max-width: 277px;
					}
					
				}
				& .slider{
					max-width: 645px;
				}
				& .gap:nth-of-type(1){
					flex: 0 1 135px;
				}
				& .gap:last-of-type{
					flex: 0 2 250px;
				}
			}
			& .row-5{
				display: flex;
				flex-flow: row nowrap;
				margin-top: 60px;
				align-items: center;
				padding-right: 11%;
				align-self: stretch;
				justify-content: space-between;
				& .text-block{
					& p{
						max-width: 365px;
					}
					
				}
				& .slider{
					max-width: 764px;
				}
			}
			& .row-6{
				display: flex;
				flex-flow: row nowrap;
				margin-top: 60px;
				padding-right: 10%;
				padding-left:18%;
				align-self: stretch;
				justify-content: space-between;
				align-items: flex-start;
				& .text-block{
					& p{
						max-width: 520px;

					}
					
				}
				& .slider{
					max-width: 400px;
				}
			}
			& .row-7{
				display: flex;
				flex-flow: row nowrap;
				margin-top: 60px;
				padding-right: 24%;
				padding-left:10%;
				align-self: stretch;
				justify-content: space-between;
				align-items: flex-start;
				& .text-block{
					& p{
						max-width: 370px;
					}
				}
				& .slider{
					max-width: 426px;
				}
			}
			& .row-8{
				display: flex;
				flex-flow: row nowrap;
				padding-right: 9%;
				padding-left:18%;
				align-self: stretch;
				justify-content: space-between;
				align-items: flex-start;
				margin-top: -165px;
				& .text-block{
					margin-top: 200px;
					& p{
						max-width: 365px;
					}
				}
				& .slider{
					max-width: 538px;
				}
			}
			& .row-9{
				display: flex;
				flex-flow: row nowrap;
				padding-right: 22%;
				padding-left:0;
				align-self: stretch;
				justify-content: space-between;
				align-items: center;
				margin-top: -330px;
				& .text-block{
					& p{
						max-width: 365px;
					}
				}
				& .slider{
					max-width: 560px;
				}
			}
			& .row-10{
				display: flex;
				flex-flow: row nowrap;
				padding-right:0;
				padding-left:18%;
				align-self: stretch;
				justify-content: space-between;
				align-items: center;
				margin-top: -300px;
				& .text-block{
					& p{
						max-width: 414px;
					}
				}
				& .slider{
					max-width: 560px;
				}
			}
			& .row-11{
				display: flex;
				flex-flow: row nowrap;
				padding-right:0;
				padding-left:18%;
				align-self: stretch;
				justify-content: space-between;
				align-items: center;
				margin-top: -300px;
				& .text-block{
					& p:first-of-type{
						color: $color-dark;
						font-size: 1.2*$font-size;
						line-height: 1.2$leading;
						font-family: $contax-sans-regular-stack;
						margin-bottom: 40px;
						
					}
					& p{
						max-width: 414px;
					}
				}
			}
			& .row-12{
				display: flex;
				flex-flow: row nowrap;
				padding-right:0;
				padding-left:18%;
				align-self: stretch;
				margin-top: 60px;
				justify-content: space-between;
				align-items: center;
				& .text-block{
					& p{
						max-width: 650px;
					}
				}
			}
			& .row-13{
				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				margin-top: 60px;
				align-items: center;
				justify-content: center;
				& .slider{
					max-width: 771px;
				}
			}
			& .row-14{
				padding-right:0;
				padding-left:18%;
				align-self: stretch;
				margin-top: 60px;
				& .text-block{
					& p{
						padding-left:5px;
						max-width: 764px;
					}
				}
			}
			& .row-15{
				padding-right:0;
				padding-left:18%;
				align-self: stretch;
				margin-top: 60px;
				& .text-block{
					& p{
						& span{
							padding-right:10px;
							&:after{
								content: ".";
							}
						}
						padding-left:5px;
						max-width: 764px;
					}
				}
			}
			& p.title{
				max-width: 784px;
				color: $color-purpley-grey;
				font-size: 1.2*$font-size;
				line-height: 1.2$leading;
				font-family: $contax-sans-regular-stack;
				margin-bottom: 40px;
				padding-top: 10px;
				border-top: 2px solid $color-purpley-grey;
			}

		}
	}
}
#academic-text .main-wrapper{


	& > p.header-credit{
    	margin: -80px auto 80px auto;
		color: $color-slate-grey;
		font-size: 2*$font-size;
		line-height: $leading;
		font-family: $work-sans-stack;
		font-weight: $light;
		text-align: center;
	}
	& .grid-container{
		width: 100%;
		position: relative;
		margin: 0 auto;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: center;
		
		& .row-1{
			padding: 0 135px;
			display: flex;
			flex-flow: row nowrap;
			
			& .slider{
				margin:0px 0.8vw;
				&:first-of-type{
					margin-left: 0;
				}
				&:last-of-type{
					margin-right: 0;	
				}

			}
		}
		& .row-2{
			padding-left:18%;
			margin-top: 70px;
			& .text-block{
				width: 62%;
			}
		}
		& .row-3{
			margin-top: 60px;
			padding: 0 135px;
			display: flex;
			align-self:flex-end;
			flex-flow: row nowrap;
			& .slider{
				max-width: 764px;
			}
		}
		& .row-4{
			margin-top: 60px;
			padding-left:18%;
			& .text-block{
				column-count: 2;
				column-gap: 35px;
				& p{
					max-width: 400px;
				}
				
			}
		}
		& .row-5{
			display: flex;
			flex-flow: row nowrap;
			margin-top: 60px;
			align-items: center;
			padding-right: 11%;
			align-self: stretch;
			justify-content: space-between;
			& .text-block{
				& p{
					max-width: 365px;

				}
				
			}
			& .slider{
				max-width: 764px;
			}
		}
		& .row-6{
			display: flex;
			flex-flow: row nowrap;
			margin-top: 60px;
			padding-right: 10%;
			padding-left:18%;
			align-self: stretch;
			justify-content: space-between;
			align-items: flex-start;
			& .text-block{
				& p{
					max-width: 520px;

				}
				
			}
			& .slider{
				max-width: 400px;
			}
		}
		& .row-7{
			display: flex;
			flex-flow: row nowrap;
			margin-top: 60px;
			padding-right: 24%;
			padding-left:10%;
			align-self: stretch;
			justify-content: space-between;
			align-items: flex-start;
			& .text-block{
				& p{
					max-width: 370px;
				}
			}
			& .slider{
				max-width: 426px;
			}
		}
		& .row-8{
			display: flex;
			flex-flow: row nowrap;
			padding-right: 9%;
			padding-left:18%;
			align-self: stretch;
			justify-content: space-between;
			align-items: flex-start;
			margin-top: -165px;
			& .text-block{
				margin-top: 200px;
				& p{
					max-width: 365px;
				}
			}
			& .slider{
				max-width: 538px;
			}
		}
		& .row-9{
			display: flex;
			flex-flow: row nowrap;
			padding-right: 22%;
			padding-left:0;
			align-self: stretch;
			justify-content: space-between;
			align-items: center;
			margin-top: -330px;
			& .text-block{
				& p{
					max-width: 365px;
				}
			}
			& .slider{
				max-width: 560px;
			}
		}
		& .row-10{
			display: flex;
			flex-flow: row nowrap;
			padding-right:0;
			padding-left:18%;
			align-self: stretch;
			justify-content: space-between;
			align-items: center;
			margin-top: -300px;
			& .text-block{
				& p{
					max-width: 414px;
				}
			}
			& .slider{
				max-width: 560px;
			}
		}
		& .row-11{
			display: flex;
			flex-flow: row nowrap;
			padding-right:0;
			padding-left:18%;
			align-self: stretch;
			justify-content: space-between;
			align-items: center;
			margin-top: -300px;
			& .text-block{
				& p:first-of-type{
					color: $color-dark;
					font-size: 1.2*$font-size;
					line-height: 1.2$leading;
					font-family: $contax-sans-regular-stack;
					margin-bottom: 40px;
					
				}
				& p{
					max-width: 414px;
				}
			}
		}
		& .row-12{
			display: flex;
			flex-flow: row nowrap;
			padding-right:0;
			padding-left:18%;
			align-self: stretch;
			margin-top: 60px;
			justify-content: space-between;
			align-items: center;
			& .text-block{
				& p{
					max-width: 650px;
				}
			}
		}
		& .row-13{
			display: flex;
			flex-flow: row nowrap;
			align-self: stretch;
			margin-top: 60px;
			align-items: center;
			justify-content: center;
			& .slider{
				max-width: 771px;
			}
		}
		& .row-14{
			padding-right:0;
			padding-left:18%;
			align-self: stretch;
			margin-top: 60px;

			& .text-block{
				& p{
					padding-left:5px;
					max-width: 764px;
				}
			}
		}
		& .row-15{
			padding-right:0;
			padding-left:18%;
			align-self: stretch;
			margin-top: 60px;
			& .text-block{
				& p{
					& span{
						padding-right:10px;
						&:after{
							content: ".";
						}
					}
					padding-left:5px;
					max-width: 764px;
				}
			}
		}
		& p.title{
			max-width: 784px;
			color: $color-purpley-grey;
			font-size: 1.2*$font-size;
			line-height: 1.2$leading;
			font-family: $contax-sans-regular-stack;
			margin-bottom: 40px;
			padding-top: 10px;
			border-top: 2px solid $color-purpley-grey;
		}

	}
}
#authors-bio-section{
	background-color: $color-turquoise-green;
	margin-top:146px;
	& .main-wrapper{
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		& p:nth-of-type(1){
			margin-left: 10%;
			color: $color-dark;
			font-size: 3.4*$font-size;
			line-height: 1;
			font-family: $contax-sans-regular-stack;
			margin-top: -25px;
		}
		& p:nth-of-type(2){
			margin-left: 10%;
			color: $color-white;
			font-size: 1.5*$font-size;
			line-height: 1.5;
			font-family: $work-sans-stack;
			font-weight: $regular;
			
		}
		& p:nth-of-type(3){
			color: $color-dark;
			font-size: 1*$font-size;
			line-height: 1.5;
			font-family: $contax-sans-regular-stack;
			margin-top: 10px;
			align-self:center;
			max-width: 745px;
			margin-top: 30px;
			margin-bottom: 36px;
		}
	}
}
#past-issues .main-wrapper{
	& .grid-container{
		position: relative;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		& .issue{
			flex-basis: 30%;
			height: 418px;
			width: 212px;
			margin: 40px auto 80px auto;
			& .cover-image{
				width: 210px;
				height: 310px;
				margin: 0 auto;
				position: relative;
				overflow: hidden;
				& img{
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}
			& .information{
				width: 100%;
				margin-top: 30px;
				text-align: center;
				color: $color-purpley-grey;
				font-size: 1.2*$font-size;
				line-height: 1.9;
				font-family: $work-sans-stack;
				font-weight: $light;
				cursor: default;
			}
			& .name{
				width: 100%;
				margin-top: 12px;
				text-align: center;
				color: $color-aqua-blue;
				font-size: 2*$font-size;
				line-height: 1;
				font-family: $contax-sans-regular-stack;
			}

		}
	}
}
#awards-recognitions .main-wrapper{
	& .grid-container{
		position:relative;
		display: flex;
		margin: 0 auto;
		flex-flow: column nowrap;
		max-width: 920px;
		
		& .award{
			
			width: 100%;
			margin-bottom: 55px;
			position: relative;
			& .award-image{
				height: 40vh;
				overflow: hidden;
				position: relative;
				& img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			& .award-information{
				position: relative;
				display: flex;
				flex-flow: row nowrap;

				& .award-credits{
					padding: 30px 30px;
					flex-basis: 50%;
					min-width: 300px;
					& .column{
						min-height: 275px;
						height: 100%;
						display: flex;
						
						flex-flow: column nowrap;
						justify-content: flex-start;
						position: relative;
						top: -40px;
						background-color: $color-turquoise-green;
						padding: 9px 30px 9px 30px;
						& label{
							color: $color-white;
							font-family: $contax-sans-regular-stack;
							font-size: 1*$font-size;
							letter-spacing: 1.6px;
							text-transform: uppercase;
							margin-top: 21px;
						}
						& p{
							margin-top: 2px;
							color: $color-slate-grey;
							font-family: $work-sans-stack;
							font-weight: $light;
							font-size: 1.8*$font-size;
							letter-spacing: -0.2px;
							
						}

					}
					
				}
				& .project-information{
					flex-basis: 60%;
					position: relative;
					color: $color-brownish-grey;
					font-family: $work-sans-stack;
					font-weight: $regular;
					font-size: 1*$font-size;
					line-height: 1.6;
					padding-top:30px;
					& label{
						text-transform: uppercase;
						color: $color-purpley-grey;
						font-size: 0.9*$font-size;
						font-family: $contax-sans-regular-stack;
						
					}
					& p:nth-of-type(1){
						color: $color-slate-grey;
						margin-top: 5px;
						font-size: 1.5*$font-size;
						line-height: 1.1;
						font-weight: $light;
						margin-bottom: 25px;
					}
				}

			}
		}
	}
}
#credits .main-wrapper{
	
	margin-bottom:80px;
	& .credit{
		margin: 0 auto;
		white-space: nowrap;

		& p:nth-of-type(3){

			width: 100%;
			margin:20px auto 0px auto;
			color: $color-aqua-blue;
			font-size: 3*$font-size;
			line-height: $leading;
			font-family: $contax-sans-regular-stack;
			text-align: center;
			text-transform: capitalize;
		}
		& p:nth-of-type(2){
			width:100%;
			
			color: $color-purpley-grey;
			font-size: 1.5*$font-size;
			line-height: $leading;
			font-family: $work-sans-stack;
			font-weight: $semi-bold;
			text-align: center;
			text-transform: uppercase;
		}
		& p:nth-of-type(1){
			margin: 0 auto;
			margin:40px auto 0px auto;
			width: 2*$full-column;
			border-top: 2px solid $color-turquoise-green;
			padding:40px 0px 0px 0px;
		}
	}
}
.clear{
	clear: both;
}




























