footer{
	position: relative;
	width: 100%;
	background:{
		color: $color-white;
	}
}
.footer-nav{
	display: flex;
	flex-direction: row;
	resize: horizontal;
	justify-content: space-between;
	width: 100%;
	padding:{
		left: $split-gutter-width;
		right: $split-gutter-width;
		top: 20px;
		bottom: 20px;

	}
	& .footer-section{
		position: relative;
		resize: horizontal;
		width : 100/3%;
		height:100%;
		font-family: $work-sans-stack;
		color: $color-purpley-gray;
		font-weight: 400;
        font-size: $font-size;
        line-height: 1.4;
        text-decoration: none; 
        & a{
			color: $color-aqua-marine;
			text-decoration: none;
			&:visited{color: $color-aqua-marine;}
        }

	}


}
