header{
  	background:{
      image: $header-background-image-src;
      repeat: no-repeat;
      size: cover;
      position: center center;
      color: $color-light-grey;
      origin: border-box;
      clip: border-box;
      attachment: scroll; 
  	}
    position: relative;
    z-index: 1;
    margin: 0px auto;
    height: $header-height-full;
    width: 100%;
}
.header-wrapper{
  position: relative;
  left: 0px;
  width: 50%;
  height: 100%;
}
.header-container{
  position: relative;
  float: right;
  height: 100%;

}
.header-container .school-name{
  font-family: $work-sans-stack;
  font-size: $font-size * 1.3;
  color: $color-slate-grey;
}
.header-container .edition-name{
  font-family: $contax-sans-regular-stack;
  font-size: $font-size * 8.5;
  color: $color-dark;

}
.header-container .edition-info{
  font-family: $work-sans-stack;
  font-size: $font-size * 2;
  color: $color-slate-grey;
}