header{
  	background:{
      image: $header-background-image-src;
      repeat: no-repeat;
      size: cover;
      position: center center;
      color: $color-light-grey;
      origin: border-box;
      clip: border-box;
      attachment: scroll; 
  	}
    position: relative;
    z-index: 1;
    margin: 0px auto;
    height: $header-height-full;
    width: 100%;
}
