header{
  	background:{
      image: $header-background-image-src;
      repeat: no-repeat;
      size: cover;
      position: center center;
      color: $color-light-grey;
      origin: border-box;
      clip: border-box;
      attachment: scroll; 
  	}
    position: relative;
    z-index: 500;
    margin: 0px auto;
    height: $header-height-full;
    width: 100%;
}
.header-wrapper{
  position: relative;
  left: 0px;
  width: 50%;
  height: 100%;
}
.header-container{
  margin:{
    top: 29vh;
  }
  position: relative;
  float: right;
  height: 100%;
  & .header-panel{
    position: absolute;
    right: 0;
    & .school-name{
      font-family: $work-sans-stack;
      font-size: 3.5vh;
      line-height: 1;
      color: $color-slate-grey;
    }
    & .edition-name{
      font-family: $contax-sans-regular-stack;
      font-size: 20vh;
      color: $color-dark;
      line-height: 1;
    }
    & .edition-info{
      font-family: $work-sans-stack;
      font-size: 5vh;
      color: $color-slate-grey;
      white-space:nowrap;
    }
  }


}
@media all and ( min-height: 700px ){
  .header-container .header-panel .school-name{
    font-size: 25px;
  }
}
@media all and ( min-height: 700px ){
  .header-container .header-panel .edition-info{
    font-size: 40px;
  }
}
@media all and ( min-height: 700px ){
 .header-container .header-panel .edition-name {
    font-size: 160px;
  }  
  
}

.menu-panel{
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
  z-index: 520;
  //height: 100%; when menu comes in
}
.menu-panel.open{
  
  opacity: 0.96;
  background:{
    color: $color-light-grey;
  }

}
.menu-controls{
  line-height: 1;
  font-size: 1.2rem;
  position: relative;
  margin: 8px auto 0 auto;
  padding: 12px 6px 12px 6px;
  width: 66px;
  border-top: 3px solid $color-slate-grey;
  border-bottom: 3px solid $color-slate-grey;
  cursor: pointer;
  color: $color-dark;
  font-family: $work-sans-stack;
  font-weight: $semi-bold;
  text-transform: uppercase;
}
.menu-content{
  position:absolute;
  display: none;
  margin-top: 58px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80vh;
  opacity: 0.96;
  background:{
    color: $color-light-grey;
  }
}
.menu-gap{
  height: 20vh;
  width:100%;
  position:absolute;
  bottom:-58px;
  left:0px;
  opacity: 0.96;
  display: none;
  background:{
    color: $color-light-grey;
  }
}
.menu-grid{
  max-width: $wrapper-full-width;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & .menu-column{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
    & .menu-row{

      width:100%;
      padding: 20px 20px 20px 20px;
      text-align: left;
      & a:first-child{

        font-family: $contax-sans-regular-stack;
        font-size: $font-size * 4;
        color: $color-dark;
        line-height: 1.15;
        float:left;
        text-decoration: none;      
        &:hover{
          color: $color-aqua-blue;
        }
      }
      & a.arrow-in{
          position: relative;
          padding: 1px 1px 1px 1px;
          float:left;
          width:22px;
          height: 100%;
          line-height: 1.15;
          margin-left: 12px;
          text-decoration: none;
          cursor: pointer;
          background:{
            image: $sub-menu-arrow-image-src;
            repeat: no-repeat;
            position: center center;
            size:contain;
          }
          &:hover{
            transform: scale(1.2,1.2);
          }
      }
    }
  }  
}
.right-nav{
  z-index: 505;
  position: absolute;
  right: 20px;
  height: 100%;
  width:30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  & .nav-controls{
    margin:{
      right: 20px;
    }
    height: 30px;
    width: 30px;
    resize: vertical;
    background:{
      image: $right-nav-arrow-image-src;
      repeat: no-repeat;
      position: center center;
      size:contain;
    }
    &:hover{
      background:{
        image: $right-nav-arrow-hover-image-src;
        repeat: no-repeat;
        position: center center;
      }
    }
    cursor: pointer;
  }
}

.left-nav{
  z-index: 505;
  position: absolute;
  left:0px;
  height: 100%;
  width:30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  & .nav-controls{
    margin:{
      left: 20px;
    }
    height: 30px;
    width: 30px;
    resize: vertical;
    background:{
      image: $left-nav-arrow-image-src;
      repeat: no-repeat;
      position: center center;
      size:contain;
    }
    &:hover{
      background:{
        image: $left-nav-arrow-hover-image-src;
        repeat: no-repeat;
        position: center center;
      }
    }
    cursor: pointer;
  }
}
.bottom-nav{
  z-index: 510;
  position: absolute;
  bottom: 0px;
  left:0px;
  height: 50px;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  & .nav-controls{
    margin:{
      bottom: 15px;
    }
    resize: vertical;
    height: 40px;
    width: 40px;
    background:{
      image: $bottom-nav-arrow-image-src;
      repeat: no-repeat;
      position: center center;
      size: contain;
    }
    &:hover{
      transform: scale(1.2,1.2);
    }
    cursor: pointer;
  }
}
