.main-wrapper{
	max-width: $wrapper-full-width;
	margin: 0 auto;
	position: relative;
	z-index: 500;
}
h1{
   position: relative;
   color: $color-dark;
   font-size: 6*$font-size;
   line-height: 0.95;
   font-family: $contax-sans-regular-stack;
   letter-spacing: -0.5px;
}

a{
   color: $color-aqua-blue;
   text-decoration: none;
}
br{
   line-height: 45px;
}
p{
   font-size: 1*$font-size;
   line-height: 1.6;
   font-family: $work-sans-stack;
   font-weight: $regular;
   color: $color-brownish-grey;
   &.cap-letter{
      &::first-letter{
         font-size: 4.3*$font-size;
         line-height: 30px;
         float: left;
         padding: 2px;
         padding-top:20px;
         font-family: $contax-sans-regular-stack;
         color: $color-black;    
      }
   }
}